  @import './rule-sets/rule-sets.less';

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  #root {
    min-height: 100%;
    // width: 100%;
    -webkit-overflow-scrolling: touch;
    // overflow-y: scroll;
   color: rgb(185, 196, 210);
    background-color: rgb(2, 8, 21);
    padding: 1rem;
    box-sizing: border-box;
  }

  p {
    margin: 0 auto;
  }
  .wrapper {
    max-width: 1080px;
    margin: auto;
  }

  .commandors {
    white-space: nowrap;
    overflow-x: scroll;
  }

  .commandors > span {
    display:inline-grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
    gap: 0.3rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    > img {
      transition: inherit;
      border: 2px solid transparent;
      justify-self: center;
      border-radius: 50%;
      filter: brightness(0.6);
    }
    &.selected {
      color: #fff;
      >img {
        border: 2px solid orange;
        filter: none;
      }
    }
  
  }

  .skill_group {
    
    user-select: none;
    border-radius: 0.3rem;
    border: 1px solid rgb(21, 44, 79);
    margin: 0.5rem auto;
    overflow: hidden;
    max-width: 720px;
    
    
    .btn {
      display: inline-flex;
      min-width: 1.5rem;
      height: 1.5rem;
      padding: 0 0.2rem;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 0.3rem 0.1rem rgba(63, 102, 140, 0.8), inset 0px -2px 0.3rem 0.1rem rgba(63, 102, 140, 0.6);
      border-radius: 0.3rem;
      color: #b9c4d2;
      text-shadow: 0px 0px 0.1rem rgba(255, 255, 255, 0.8);
      // font-size: 1.2em;
      border: 1px solid rgb(90, 145, 198);
      transition: all .3s ease-in-out;
      
      & {
        margin-left: 0.4rem;
      }
      &.disabled {
        border-color: rgb(41, 64, 97);
        color: rgb(62, 79, 106);
        box-shadow: 0px 0px 0.3rem 0.1rem rgba(63, 102, 140, 0.4), inset 0px -2px 0.3rem 0.1rem rgba(63, 102, 140, 0.2);
        text-shadow: none;
      }
    }
    span {
      align-self: center;
    }
    >p:first-child {
      display: grid;
      grid-template-columns: auto max-content;
      padding: 0.5rem;
      background-color: rgb(11, 27, 49);
      text-shadow: 0px 0px 0.2rem rgba(255, 255, 255, 0.4);
    }
    >p:not(:first-child) {
      padding: 1rem;
      display: grid;
      grid-template-columns: 45% auto 10% max-content;
      color: rgb(109, 170, 210);
      line-height: 1.4;
    }
    >p:not(:last-child) {
      border-bottom: 1px solid;
      border-color: inherit;
    }
  }

  @media only screen and (max-width: 540px) {
    .skill_group>p:not(:first-child) {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr max-content max-content;
      row-gap: 0.5rem;
      >span {
        justify-self: flex-end;
      }
      >:first-child {
        justify-self: flex-start;
      }
      >:nth-child(2) {
        margin: 0 0.5rem;
      }
      >:last-child {
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
}
